### Ejercicio 1
Leer el fichero estudiantes.csv, utilizando la libreria Pandas.
Mostrar los 5 primeros elementos

In [ ]:
import pandas as pd
estudiantes_df = pd.read_csv("estudiantes.csv")
print (estudiantes_df.head())

   Nombre  Edad  Nota Asignatura_preferida
0  Alicia    14     9          Matematicas
1   Mikel    15    10             Ciencias
2     Jon    13     8             Historia
3    Juan    14     9          Matematicas
4  Ekaitz    15    10               Ingles

### Ejercicio 2
1. Indicar el numero de filas en el fichero
2. Incluir un resumen de los datos de la tabla, incluyendo numero de elementos no nulos, tipos de columnas y uso de memoria
3. Indicar los valores unicos de la columna "Asignatura_preferida". Mirar documentación

In [ ]:
filas=len(estudiantes_df)
print(filas)

10

In [ ]:
estudiantes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Nombre                10 non-null     object
 1   Edad                  10 non-null     int64
 2   Nota                  10 non-null     int64
 3   Asignatura_preferida  10 non-null     object
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes

In [ ]:
print(estudiantes_df['Asignatura_preferida'].unique())

['Matematicas' 'Ciencias' 'Historia' 'Ingles']

### Ejercicio 3
1. Filtra el DataFrame para mostrar solo a los estudiantes que tienen "Matemáticas" como su materia favorita.
2. Ordena el DataFrame por "Nota" en orden ascendente y muestra el resultado.
3. Ordena el DataFrame por "Nombre" en orden alfabético y muestra el resultado.

In [ ]:
print(estudiantes_df['Asignatura_preferida']=="Matematicas")

In [ ]:
print(estudiantes_df.sort_values("Nota"))

In [ ]:
print(estudiantes_df.sort_values("Nombre"))

### Ejercicio 4
1. Agrupa el DataFrame por "Asignatura_favorita" y calcula la edad promedio para cada grupo.
2. Agrupa el DataFrame por "Nota" y calcula la cantidad de estudiantes en cada grupo.
3. Agrupa el DataFrame por "Nota" y "Asignatura_favorita" y calcula la cantidad de estudiantes en cada grupo.

In [ ]:
asignatura_grupo = estudiantes_df.groupby('Asignatura_preferida'['Edad'].mean()
print("\Asignatura grupo:")
print(asignatura_grupo)

### Ejercicio 5
1. Añade una nueva columna llamada "Tiempo_de_Estudio" al DataFrame con valores aleatorios entre 1 y 5 (inclusive) para cada estudiante.
2. Crea un nuevo DataFrame que contenga solo las columnas "Nombre" y "Tiempo_de_Estudio" y muestra el resultado.
3. Combina el nuevo DataFrame con el DataFrame original en la columna "Nombre" y muestra el resultado.

In [ ]:
import random
def random_value(row):
    return random.randint(1,5)
estudiantes_df['tiempo de estudio']=estudiantes_df.apply(random_value,axis=1)

print(estudiantes_df)

In [ ]:
dos_df=

In [ ]:
merge

### Ejercicio 6

1. Lee el archivo "sales.csv" y guarda su contenido en un DataFrame.
2. Verifica si hay valores faltantes en el DataFrame.
3. Rellena los valores faltantes en la columna "Nombre_Producto" con "Desconocido".
4. Elimina las filas con valores faltantes en las columnas "Cantidad" y "Descuento".

In [ ]:
ventas_df = pd.read_csv("ventas.csv")
print (ventas_df)

        Fecha ID_Producto Nombre_Producto  Precio  Cantidad  Descuento   Total
0  2023-01-01        P101       Product A   100.0       5.0       0.10   450.0
1  2023-01-02        P102       Product B   200.0       2.0       0.05   380.0
2  2023-01-03        P103       Product C   150.0      10.0       0.20  1200.0
3  2023-01-04        P104       Product D    50.0      15.0       0.00   750.0
4  2023-01-05        P105       Product E   120.0       6.0       0.15   612.0
5  2023-01-06        P106             NaN    80.0       8.0       0.10   576.0
6  2023-01-07        P107       Product G   250.0       3.0       0.10   675.0
7  2023-01-08        P101       Product A   100.0      12.0       0.05  1140.0
8  2023-01-09        P102       Product B   200.0       NaN       0.10   720.0
9  2023-01-10        P104       Product D    50.0      10.0        NaN   500.0

In [ ]:
df_sin_na = ventas_df.fillna('Desconocido')

In [ ]:
print(df_sin_na)

In [ ]:
print(ventas_df['Nombre_producto'].fillna('Desconocido',implace=True))

In [ ]:
#print(ventas_df.dropna(subset='Cantidad','Descuento',implace=True))

### Ejercicio 7

1. Convierte la columna "Fecha" a un tipo de datos DateTime.
2. Extrae el mes y el día de la semana de la columna "Date" y añádelos como nuevas columnas "Mes" y 
"Dia_Semana" en el DataFrame.

In [ ]:
import pandas as pd
ventas_df['Fecha'] = pd.to_datetime(ventas_df['Fecha'])
print(ventas_df)

In [ ]:

ventas_df['Mes'] = ventas_df['Fecha'].dt.month
ventas_df['Dia Semana'] = ventas_df['Fecha'].dt.dayofweek
print(ventas_df)

       Fecha ID_Producto Nombre_Producto  Precio  Cantidad  Descuento   Total  \
0 2023-01-01        P101       Product A   100.0       5.0       0.10   450.0
1 2023-01-02        P102       Product B   200.0       2.0       0.05   380.0
2 2023-01-03        P103       Product C   150.0      10.0       0.20  1200.0
3 2023-01-04        P104       Product D    50.0      15.0       0.00   750.0
4 2023-01-05        P105       Product E   120.0       6.0       0.15   612.0
5 2023-01-06        P106             NaN    80.0       8.0       0.10   576.0
6 2023-01-07        P107       Product G   250.0       3.0       0.10   675.0
7 2023-01-08        P101       Product A   100.0      12.0       0.05  1140.0
8 2023-01-09        P102       Product B   200.0       NaN       0.10   720.0
9 2023-01-10        P104       Product D    50.0      10.0        NaN   500.0

   Mes  Dia  Dia Semana
0    1    1           6
1    1    2           0
2    1    3           1
3    1    4           2
4    1    5           3
5    1    6           4
6    1    7           5
7    1    8           6
8    1    9           0
9    1   10           1

In [ ]:
print(pd.__version__)

1.5.3

### Ejercicio 8: Estadísticas descriptivas

1. Calcula las estadísticas descriptivas para las columnas "Precio", "Cantidad", "Descuento" y "Total".
2. Calcula las ventas totales de cada producto y ordena los resultados en orden descendente.

In [ ]:
print(ventas_df[["Precio", "Cantidad", "Descuento","Total"]].describe)

In [ ]:
tot=ventas_df.groupby('ID_Producto')['Total'].sum().sort_values(ascending=False)
print(tot)


### Ejercicio 9: Transformación de datos

1. Aplica una función lambda a la columna "Precio" para aumentar el precio en un 10%.
2. Crea una nueva columna llamada "Ingresos" multiplicando las columnas "Cantidad" y "Precio", teniendo en cuenta el "Descuento".

In [ ]:
print (ventas_df)
ventas_df['Precio'ventas_df['Precio_desc'] = ].apply(lambda x: x + x*10/100)
print (ventas_df)

In [ ]:
ventas_df['Ingresos'] = ventas_df['Cantidad']*ventas_df['Precio_desc']
print (ventas_df)


### Ejercicio 10: Indexación de varios niveles

1. Agrupa el DataFrame por "ID_Producto" y "Date" y calcula la suma de la columna "Total" para cada grupo.
2. Convierte el DataFrame de índice de múltiples niveles en un formato amplio donde cada fila representa un "ID_Producto" y las columnas son las fechas.

In [ ]:
print(ventas_df)
tot=ventas_df.groupby(by=['ID_Producto','Fecha'])['Total'].sum().sort_values(ascending=False)
print(tot)

In [ ]:
df_amplia=ventas_df.pivot(index='ID_Producto',columns='Fecha', values='Total')
print(df_amplia)

### Ejercicio 11

1. Leer los archivos "clientes.csv" y "compras.csv" y almacenarlos en DataFrames.
2. Cruzar los datos de ambos DataFrames utilizando la columna "ID_Cliente" como clave.

In [3]:
clientes_df = pd.read_csv("clientes.csv")
compras_df = pd.read_csv("compras.csv")
print(clientes_df)
print(compras_df)
print
df = compras_df.merge(clientes_df,on='ID_Cliente')
print (df)

   ID_Cliente Nombre  Edad Genero     Ciudad
0           1   Luis    35      M  Barcelona
1           2  María    28      F     Madrid
2           3    Ana    42      F   Valencia
3           4  Pedro    53      M    Sevilla
4           5   Juan    31      M  Barcelona
   ID_Compra  ID_Cliente       Fecha  Importe
0          1           1  2023-01-05    100.0
1          2           2  2023-01-10    200.0
2          3           3  2023-01-12    150.0
3          4           4  2023-01-15     50.0
4          5           5  2023-01-20    120.0
5          6           1  2023-01-25     80.0
6          7           3  2023-01-30    250.0
7          8           2  2023-02-02     90.0
8          9           4  2023-02-10    180.0
   ID_Compra  ID_Cliente       Fecha  Importe Nombre  Edad Genero     Ciudad
0          1           1  2023-01-05    100.0   Luis    35      M  Barcelona
1          6           1  2023-01-25     80.0   Luis    35      M  Barcelona
2          2           2  2023-01-10    200.0  María    28      F     Madrid
3          8           2  2023-02-02     90.0  María    28      F     Madrid
4          3           3  2023-01-12    150.0    Ana    42      F   Valencia
5          7           3  2023-01-30    250.0    Ana    42      F   Valencia
6          4           4  2023-01-15     50.0  Pedro    53      M    Sevilla
7          9           4  2023-02-10    180.0  Pedro    53      M    Sevilla
8          5           5  2023-01-20    120.0   Juan    31      M  Barcelona

### Ejercicio 12

1. Filtrar el DataFrame resultante para mostrar solo las compras realizadas por clientes de "Barcelona".
2. Calcular el importe total gastado por cada cliente.

In [4]:
TF=df[(df['Ciudad']=='Barcelona')]
print(TF)

   ID_Compra  ID_Cliente       Fecha  Importe Nombre  Edad Genero     Ciudad
0          1           1  2023-01-05    100.0   Luis    35      M  Barcelona
1          6           1  2023-01-25     80.0   Luis    35      M  Barcelona
8          5           5  2023-01-20    120.0   Juan    31      M  Barcelona

In [5]:
imp_clte=df.groupby(['ID_Cliente','Nombre'])['Importe'].sum()
print(imp_clte)

ID_Cliente  Nombre
1           Luis      180.0
2           María     290.0
3           Ana       400.0
4           Pedro     230.0
5           Juan      120.0
Name: Importe, dtype: float64

### Ejercicio 13: Transformar y guardar datos en un nuevo archivo CSV

1. Crear una columna nueva que muestre la categoría de gasto ("Bajo", "Medio" o "Alto") basándose en el importe de cada compra.
2. Guardar el DataFrame resultante en un nuevo archivo CSV llamado "compras_categorizadas.csv".

In [6]:
import pandas as pd

def categ(importe):
  if importe < 100:
    return 'Bajo'
  elif importe < 200:
    return 'medio'
  else: 
    return 'alto'

df['Nueva']=df['Importe'].apply(categ)
print(df)

   ID_Compra  ID_Cliente       Fecha  Importe Nombre  Edad Genero     Ciudad  \
0          1           1  2023-01-05    100.0   Luis    35      M  Barcelona
1          6           1  2023-01-25     80.0   Luis    35      M  Barcelona
2          2           2  2023-01-10    200.0  María    28      F     Madrid
3          8           2  2023-02-02     90.0  María    28      F     Madrid
4          3           3  2023-01-12    150.0    Ana    42      F   Valencia
5          7           3  2023-01-30    250.0    Ana    42      F   Valencia
6          4           4  2023-01-15     50.0  Pedro    53      M    Sevilla
7          9           4  2023-02-10    180.0  Pedro    53      M    Sevilla
8          5           5  2023-01-20    120.0   Juan    31      M  Barcelona

   Nueva
0  medio
1   Bajo
2   alto
3   Bajo
4  medio
5   alto
6   Bajo
7  medio
8  medio

In [ ]:
df.to_csv('comprasCat.csv', index=False)

### Ejercicio 14
Utilizando los archivos "clientes.csv" y "compras.csv" proporcionados anteriormente, realiza las siguientes tareas:

1. Calcular el importe total de ventas por producto.
2. Calcular el importe total de ventas por ciudad.
3. Encontrar el cliente con el mayor gasto en cada ciudad.
4. Calcular el importe promedio de ventas por género y por ciudad.